.fit {
    white-space:    nowrap;
    width:          1px;
}

.fit-center {
    white-space:    nowrap;
    width:          1px;
    text-align:     center!important;
}

.show-view {
    line-height:    35px;
}
